DB_HOST=localhost
DB_PORT=3306
DB_USER=admin_switch
DB_PASSWORD=TwojeHasloMySQL
DB_NAME=switch_db
ADMIN_PASSWORD=TwojeHasloAdmina
VIEW_PASSWORD=HasloPodgladu
PORT=3000

# MSSQL Configuration for Data Sync
MSSQL_USER=your_mssql_user
MSSQL_PASSWORD=your_mssql_password
MSSQL_SERVER=your_mssql_server
MSSQL_DATABASE=your_mssql_database
MSSQL_PORT=1433
MSSQL_SYNC_HOUR=20
