DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=timetracker
ADMIN_PASSWORD=admin
VIEW_PASSWORD=user
PORT=3000

# MSSQL Configuration for Data Sync
MSSQL_USER=sa
MSSQL_PASSWORD=your_password
MSSQL_SERVER=localhost
MSSQL_DATABASE=WMS_DB
MSSQL_PORT=1433
MSSQL_SYNC_HOUR=20
MSSQL_SYNC_ENABLED=false
WMS_DATA_RETENTION_DAYS=7


AUTO_OFF_TIME=23:59